
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #7030A0;
    height: 60px;
}


.divider{
    margin: 20px 0;
    border: 0;
    height: 1px;
    background: #ddd;
}

.imagens{
    margin-left: 30px;
    margin-right: 10px;
}

.footerButton{
    border: 1px solid #8a39c8;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.grid{
    display: grid;
    flex-direction: column;
}

.section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionLink{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
}

.footerButton:hover{
    background-color: #8a39c8
}

.footerImagem{
    object-fit: contain;
    background-size: contain;
    cursor: pointer;
}

.imagemGuardiao{
    object-fit: contain;
    background-size: contain;
    background-position: initial;
    margin-top: -50px;
    padding: 5px;
}

.relatorioGreen{
    background-color:green;
    border-radius: 8px;
    height:14px;
    width:14px;
    margin-right: 2px;

}


.relatorioOrange{
    background-color:orange;
    border-radius: 8px;
    height:14px;
    width:14px;
    margin-right: 2px;

}

.relatorioRed{
    background-color: red;
    border-radius: 8px;
    height:14px;
    width:14px;
    margin: 2px;

}

.h1{
    color: red;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 80%;
    text-align: start;

}

.h2{
    color: green;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 80%;
    text-align: start;

}


.voltar{
    color: white;
    background-color: blue;
    height:50px;
    width: 80px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;


}

